.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.col{
  display: inline;
 }
.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.box {
  overflow: hidden;
  padding: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
.col{
  display: inline;
 }

.btnlike{
  display : none;
}

input.btnlike + span{
  background-color : #cbcdd4;
  color : #000000;
  display : inline-table;
  font-size: 16px;
  border-radius: 25px;
  height : 35px;
  width : 150px;
  margin : 10px;
  text-align: center;
}
input.btnlike:checked + span{
  background-color : #0e44f5;
  color : #000000;
}
.date{
	display: inline;
}
input.btnlike:disabled + span{
	background-color : #cbcdd4;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 1px;
  border-radius: 30px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.header.large.first {
  border-bottom: 1px solid var(--primaryColor);
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
}
div.header.large.first {
  width: 100%;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(var(--lightGrey), 1);
}
div.header {
  background: linear-gradient(to bottom right, rgba(10.5, 31.5, 31.5, 1), rgba(10.5, 31.5, 31.5, 0.84));
}

.example {
  margin: 0 auto;
}

.example:hover {
  background: rgb(184, 196, 211);
}
.click:hover {
  transform: scale(0.9);
  transition-duration: 0.5s;
  opacity: 0.6;
}